@charset "UTF-8";

* {
    margin: 4px;
    padding: 0px;
}

body{
    background: rgb(218, 218, 218) url('imagens/fundo/pexels-photo-347139.jpeg') center center no-repeat fixed;
    background-size: cover;       
}
img {
    width:90px;
    height:90px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 50px;
}

h1.normal {
    background-color: rgba(248, 241, 241, 0.623);
    color: rgb(3, 3, 3);
    background-position: 4px;
    padding-top: 1vh;
    padding-bottom: 6px;
    line-height: 1.5em;
    text-align: center;
    top: 10px;
    left: 10px;
    
}

section img:hover {
    border: 1px solid rgba(201, 34, 22, 0.623);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(201, 34, 22, 0.623);
    transition: transform .1s, border .1s;
    
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    
}


